.env
init.sql
dev/.terraform
dev/.terraform.lock.hcl
dev/terraform.tfstate
dev/terraform.tfstate.backup
prod/.terraform
prod/.terraform.lock.hcl
prod/terraform.tfstate
prod/terraform.tfstate.backup
zip
